{% load static %}
<section class="relative h-70 overflow-hidden md:h-80 xl:h-100">
  <!-- Vídeo -->
  <video
    class="absolute inset-0 w-full h-full object-cover"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="{% static 'videos/hero-video.mp4' %}" type="video/mp4" />
  </video>

  <!-- Overlay oscuro -->
  <div class="absolute inset-0 bg-black/60"></div>

  <!-- Contenido -->
  <div
    class="relative z-10 h-full flex flex-col items-center justify-center text-white"
  >
    <h1 class="m-4 text-3xl font-title italic md:text-4xl">
      Bienvenido a Recetify!
    </h1>
    <p class="font-primary font-bold m-4 text-center md:text-xl">
      La <span class="text-[#0ee15f]">red social</span> de los amantes de la
      cocina
    </p>
  </div>
</section>
