{% extends "general/layout.html" %} 
{% load i18n %}

{% block head_title %}{% trans "Recetify- Inicio de Sesión" %}{% endblock head_title %} 
{% block page_content %}
<div class="bg-gradient min-h-screen">
  <div class="container px-4 py-4">
    <div class="bg-white p-4 rounded-2xl shadow-2xl flex flex-col items-center">
      <span class="scale-150 p-3 rounded-full bg-[#d1eeda]/90 my-8"
        >{% include "icons/apple.html" %}</span
      >
      <div class="text-center">
        <h1 class="text-3xl font-bold">{% trans "Bienvenido de nuevo!" %}</h1>
        <p class="text-gray-500">
          {% trans "Inicia sesión para descubrir recetas increíbles." %}
        </p>
      </div>
      <form method="post">
        {% csrf_token %}

        <div class="mt-4">
          <p class="font-semibold">{{ form.username.label }}</p>
          {{ form.username }}
        </div>

        <div class="mt-4">
          <p class="font-semibold">{{ form.password.label }}</p>
          {{ form.password }}
        </div>

        <!-- Errores -->
        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
        <p class="text-red-500 mt-2">* {{ error }}</p>
        {% endfor %} {% endif %}

        <button
          class="px-4 py-2 mt-6 w-full bg-(--primary-color) text-black font-semibold rounded"
        >
          {% trans "Enviar" %}
        </button>
      </form>

      <div class="mt-4 flex gap-2">
        <p>{% trans "No tienes una cuenta?" %}</p>
        <a
          href="{% url 'register' %}"
          class="text-(--primary-color) font-semibold"
          >{% trans "Regístrate" %}</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
