{% extends "general/layout.html" %} 

{% load static %} 
{% load i18n %}

{% block head_title %}
{% trans "Recetify - Lista de perfiles" %}
{% endblock head_title %} 
{% block page_content %}

<div class="container">
  <!-- Foto de usuario -->

  <div class="flex justify-center my-10">
    <img
      src="{{ profile.profile_image_url }}"
      alt="{{ profile.user }}"
      class="rounded-full h-32 w-32 object-cover outline-4 outline-(--primary-color)/50 border-4 border-white"
    />
  </div>


  <!-- Datos de usuario -->
  <p class="primary-font font-bold text-2xl text-center">
    {{ profile.full_name_title }}
  </p>
  <p class="text-center font-semibold text-green-400">
    @{{ profile.user.username }}
  </p>
  {% if profile.birth_date %}
  <p class="flex gap-1 justify-center text-green-800 my-4">
    <span>{% include "icons/birth.html" %}</span>
    {{ profile.birth_date|date:"d/m/Y" }}
  </p>
  {% endif %} {% if profile.bio %}
  <p
    class="text-center mx-2 my-4 text-lg bg-white border border-gray-300 rounded-2xl p-4 shadow-xl mb-8"
  >
    {{ profile.bio|capfirst|linebreaksbr }}
  </p>
  {% endif %}

  <!-- Editar o seguir usuario -->
  <div class="w-full px-2">
    {% if request.user == profile.user %}
    <a
      href="{% url 'profiles:edit_profile' %}"
      class="w-full justify-center mx-auto mb-4 flex py-2 bg-(--primary-color) text-white font-bold rounded-2xl xl:w-1/4"
      >{% trans "Editar perfil" %}</a
    >
    {% endif %} 
    {% if request.user.is_authenticated %} 
    {% if profile.user != request.user %}
    <button
      data-url="{% url 'profiles:toggle_follow' profile.pk %}"
      class="follow-btn cursor-pointer w-[95%] justify-center gap-1 mx-auto mb-4 flex py-2 bg-(--primary-color) text-white font-bold rounded-2xl "
    >
      {% if following %}{% trans "Siguiendo" %}{% else %}{% trans "Seguir" %}{% endif %}
    </button>
    {% endif %} 
    {% else %}
    <p>{% trans "Inicia sesión para seguir a este usuario" %}</p>
    {% endif %}
  </div>

  <!-- Números -->
  <div
    class="grid-cols-3 grid mx-2 font-bold border-y text-center uppercase border-gray-300 py-4"
  >
    <p class="flex flex-col text-green-700">
      <span id="followers-count" class="text-black text-xl"
        >{{ followers_number }}</span
      >{% trans "Seguidores" %}
    </p>
    <p class="flex flex-col border-x border-gray-300 text-green-700">
      <span class="text-black text-xl">{{ recipes.count }}</span>{% trans "Recetas" %}
    </p>
    <p class="flex flex-col text-green-700">
      <span class="text-black text-xl">{{ following_number }}</span>{% trans "Siguiendo" %}
    </p>
  </div>

  <!-- Slider de recetas propias y guardadas -->
  {% if request.user == object.user %}
  <div class="flex relative justify-around">
    <div
      id="recipes-btn"
      class="cursor-pointer active-slider flex items-center w-full py-4 text-(--primary-color) justify-center gap-1"
    >
      <span>{% include "icons/cutlerly.html" %}</span>
      <p class="text-lg font-semibold">{% trans "Recetas" %}</p>
    </div>

    <div
      id="saved-btn"
      class="cursor-pointer flex items-center w-full py-4 justify-center gap-1"
    >
      <span>{% include "icons/filled_save.html" %}</span>
      <p class="text-lg font-semibold">{% trans "Guardados" %}</p>
    </div>

    <div
      id="slider"
      class="absolute bottom-0 left-0 w-1/2 h-0.5 bg-green-400 transition-all duration-300"
    ></div>
  </div>

  <!-- Recetas guardadas -->
  {% if saved_recipes %}
  <div id="saved_recipes" class="grid-cols-2 mt-4 pb-4 mx-2 hidden xl:grid-cols-3">
    {% for recipe in saved_recipes %} 
    {% include "_includes/_recipe_card.html" with recipe=recipe only %} 
    {% endfor %}
  </div>
  {% else %}
  <p
    class="saved-recipes-default-message mt-10 text-gray-400 text-2xl font-title hidden justify-center items-center"
  >
    {% trans "Sin recetas todavía..." %}
  </p>
  {% endif %} 
  {% endif %}

  <!-- Recetas propias -->
  {% if recipes %}
  <div id="recipes" class="grid grid-cols-2 mt-4 pb-4 mx-2 gap-1 xl:grid-cols-3">
    {% for recipe in recipes %} 
    {% include "_includes/_recipe_card.html" with recipe=recipe only %} 
    {% endfor %}
  </div>
  {% else %}
  <p
    class="my-recipes-default-message mt-10 text-gray-400 text-2xl font-title flex justify-center items-center"
  >
    {% trans "Sin recetas todavía..." %}
  </p>
  {% endif %}
</div>

<script src="{% static 'js/toggle_follow_ajax.js' %}" defer></script>
<script src="{% static 'js/recipes_slider.js' %}" defer></script>

{% endblock page_content %}
